button {
  	outline: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul.quiality {
  margin: 0;
  padding-left: 18px;
}
a {
  font-size: 16px;
  color: #086ca9;
  white-space: nowrap;
}
.seria {
  display: inline-block;
}
body {
  padding: 13px 0;
  min-width: 450px;
}
.card-header {
  padding: 0px;
}
.list-block {
  position: relative;
}
.list-block ul {
  
  margin: 0;
  max-height: 400px;
  overflow: auto;
}
.list-block li {
  white-space: nowrap;
  position: relative;
}
.list-block li a {
  font-size: 14px;
}
.list-block ul small{
  font-size: 50%;
}
.clear-history {
  font-size: 8px;
  position: absolute;
  right: 1.25rem;
  top: 6px;
  cursor: pointer;
}
.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}
.btn-link:hover {
    text-decoration: none;
}
.film_a {
  cursor: pointer;
} 

#saveLink {
  margin: 0px 0 13px 0px;
  padding: 4px 7px;
  display: block;
}

.deleteSavedLink {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  position: absolute;
  color: red;
  font-size: 16px!important;
}

.deleteSavedLink:hover {
  text-decoration: none;
  color: #ff7600;
}

.page-url {
  font-size: 16px!important;
  color: blue;
}